@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

.contact {
  background-color: white;
  color: black;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8% 8% 10% 8%;
  font-family: "Satoshi";

  * {
    animation: slide-up-initial 1s ease, fade-in 1s ease;
  }

  .contact-inner {
    width: 80%;

    display: flex;
    gap: 80px;

    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 40px;
    }

    .hardcoded {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .title {
        font-size: 150%;
        display: flex;
        flex-direction: column;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: rgba(0, 0, 0, 0.6);

        * {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        svg {
          width: 15px;
          aspect-ratio: 1/1;
        }

        a {
          color: #1f67f1;
          overflow-wrap: anywhere;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .top {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        * {
          flex: 1;
        }

        @media (max-width: 660px) {
          flex-direction: column;
          gap: 20px;
        }
      }

      input,
      textarea {
        padding: 10px;
        color: #9c9c9c;
        background-color: #f0f0f0;
        outline: none;
        border-radius: 5px;
      }
      .message {
        height: 150px;
      }

      button {
        background-color: #1f67f1;
        color: white;
        height: 40px;
        border-radius: 5px;

        .sending-loader {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
        }
      }
    }
  }
}

@keyframes slide-up {
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-up-initial {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade-in-initial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
