@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

.home {
  height: max-content;
  background-color: white;
  position: relative;
  overflow-x: clip;

  .landing {
    padding-top: 70px;
    height: 800px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1100px) {
      padding-top: 100px;
      height: 1000px;
    }

    @media (min-width: 1000px) {
      height: 750px;
    }

    @media (max-width: 940px) {
      height: 650px;
    }

    @media (max-width: 660px) {
      height: 800px;
    }

    @media (max-width: 500px) {
      height: 850px;
    }

    @media (max-width: 300px) {
      height: 900px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      width: 80%;

      .heading-inner {
        color: black;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Clash Display";
        /* margin-bottom: 30%; */

       
        @media (max-width: 660px) {
          gap: 20px;
        }

        @media (max-width: 500px) {
          width: 80%;
        }

        @media (max-width: 400px) {
          width: 100%;
        }

        .title {
          overflow: hidden;

          .title-inner {
            font-size: 560%;
            font-weight: bolder;
            transform: translate(0%, 100%);
            animation: slide-up 0.5s ease 1s forwards;

            span:nth-child(1) {
              margin-right: 30px;
              @media (max-width: 660px) {
                margin-right: 0px;
              }
            }

            @media (min-width: 1100px) {
              font-size: 580%;
            }
        

            @media (min-width: 1000px) {
              font-size: 480%;
            }    

            @media (max-width: 940px) {
              font-size: 430%;
            }

            @media (max-width: 830px) {
              font-size: 390%;
            }

            @media (max-width: 780px) {
              font-size: 320%;
            }

            @media (max-width: 660px) {
              line-height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 500%;
            }

            @media (max-width: 500px) {
              font-size: 400%;
            }

            @media (max-width: 350px) {
              font-size: 300%;
            }
          }
        }

        .sub-title {
          width: 100%;
          display: flex;
          justify-content: space-around;

          @media (max-width: 430px) {
            width: 80%;
          }

          @media (max-width: 440px) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }

          .sub-title-inner-1 {
            overflow: hidden;
            /* border: 1px solid green; */
            width: 100px;
            height: 50px;
            display: inline-block;
            position: relative;
            display: flex;
            justify-content: center;

            @media (max-width: 440px) {
              width: 100%;
            }

            .sub-title-inner-2 {
              font-weight: 500;
              text-transform: uppercase;
              position: absolute;
              font-size: 120%;
              width: 100px;
              height: 100px;
              /* top: 0%; */
              transform: translate(-200%, 0%);
              animation: slide-up 0.5s ease 1.5s forwards;

              @media (max-width: 660px) {
                width: fit-content;
                // border: 1px solid red;
              }

              .dot {
                // position: absolute;
                // margin-left: 2px;
                // top: 4px;
                color: orange;
                font-size: 100%;
              }

              @media (max-width: 940px) {
                font-size: 90%;
              }

              @media (max-width: 400px) {
                font-size: 110%;
              }
            }
          }
        }
      }

      .tag-line {
        width: 60%;
        text-align: center;
        color: rgba(0, 0, 0, 0.447);
        font-family: "Clash Display";
        font-size: large;
        opacity: 0;
        transform: translate(0%, 10%);

        animation: fade-in 0.2s ease 2.4s forwards,
          slide-up 0.2s ease 2.4s forwards;
      }
    }

    .projects-showcase {
      width: 100%;
      height: max-content;

      @media (max-width: 780px) {
        background: linear-gradient(to top, black 50%, white 50%);
      }

      .projects-showcase-inner {
        animation: grow 1ms linear both;
        animation-timeline: view(block 200px 10px);

        @media (max-width: 780px) {
          opacity: 0;
          transform: translateY(10px);
          animation: fade-in 0.5s ease 2.6s forwards,
            slide-up 0.5s ease 2.6s forwards,
            grow-full 5s linear both infinite alternate;
        }

        display: flex;
        height: 300px;
        background-color: #e91e63;
        border: 20px solid #e91e63;
        border-top: none;
        border-bottom: none;
        padding: 0px 60px;
        border-radius: 50px;
        overflow: clip;

        @media (max-width: 500px) {
          padding: 0px;
        }

        .track {
          height: 400px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          &:nth-child(1),
          &:nth-child(3) {
            transform: translate(0%, -100%);
            animation: slide-up 1ms linear both;
            animation-timeline: view(y 50% 30%);

            @media (max-width: 780px) {
              animation: slide-up 5s linear both infinite alternate;
            }
          }

          &:nth-child(2) {
            animation: slide-down 1ms linear both;
            animation-timeline: view(y 50% 30%);

            @media (max-width: 780px) {
              animation: slide-down 5s linear both infinite alternate;
            }
          }

          img {
            height: 100%;
            width: 90%;
          }

          @media (max-width: 500px) {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }

  .about {
    * {
      animation: slide-up-initial 1s ease, fade-in-initial 1s ease;
    }

    height: 550px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5%;

    @media (max-width: 940px) {
      height: 600px;
    }

    @media (max-width: 740px) {
      height: 700px;
    }

    @media (max-width: 780px) {
      height: 750px;
      margin-top: 0px;
    }

    @media (max-width: 660px) {
      height: 850px;
    }

    .heading {
      overflow: clip;
      .heading-inner {
        font-size: 400%;
        font-family: "Clash Display";
        font-weight: 500;
        transform: translate(0%, 100px);
        animation: slide-up 1ms linear both;
        animation-timeline: view(block 50% 20%);

        @media (max-width: 440px) {
          font-size: 400%;
        }

        @media (max-width: 350px) {
          font-size: 300%;
        }

        @media (max-width: 780px) {
          animation: none;
          transform: translate(0%, 0px);
        }
      }
    }

    .content {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      padding: 0% 10%;

      opacity: 0;
      animation: fade-in 1ms linear both;
      animation-timeline: view(block 90% 10%);

      @media (max-width: 780px) {
        flex-direction: column;
      }

      .img {
        width: 250px;
        height: 250px;
        @media (max-width: 300px) {
          width: 150px;
          height: 150px;
        }

        padding: 1%;
        border: 2px solid transparent;
        --border-angle: 0turn;
        background: conic-gradient(
              from var(--border-angle),
              #000000,
              #000000 5%,
              #000000 60%,
              #000000 95%
            )
            padding-box,
          conic-gradient(
              from var(--border-angle),
              transparent 15%,
              #08e199 35%,
              transparent 65%,
              #08e199 95%,
              transparent
            )
            border-box,
          conic-gradient(
              from var(--border-angle),
              #000000,
              #000000 5%,
              #000000 60%,
              #000000 95%
            )
            border-box;
        animation: bg-spin 30s linear infinite;

        animation-timeline: auto;

        .img-inner {
          overflow: hidden;
          img {
            object-fit: fill;
            object-position: center top;
            transform: scale(1.3) translateY(10px);
          }
        }
      }

      .text {
        width: 50%;
        font-family: "Satoshi";
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 780px) {
          width: 100%;
        }

        span {
          color: #08e199;
          font-weight: bold;
        }
      }
    }
  }

  .techstack {
    * {
      animation: slide-up-initial 1s ease, fade-in-initial 1s ease;
    }

    background-color: black;
    color: #08e199;
    width: 100%;
    padding-bottom: 30px;
    overflow: clip;

    .techstack-inner {
      animation: slide-down-far 0.2s linear forwards;
      animation-timeline: view(block 0 80%);

      @media (max-width: 780px) {
        animation: none;
      }
    }

    .track {
      height: max-content;
      width: max-content;
      display: flex;
      gap: 20px;
      font-size: 400%;
      text-transform: uppercase;
      font-weight: 900;
      font-family: "Big Shoulders Display";
      line-height: 70%;
      padding-top: 3%;

      .diamond {
        font-size: 40%;
      }

      &:nth-child(1),
      &:nth-child(3) {
        opacity: 0;
        animation: slide-left 25s linear infinite, fade-in 0.2s ease forwards;
        animation-timeline: auto, view(block 50% 10%);
      }

      &:nth-child(2) {
        opacity: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #08e199;
        animation: slide-right 25s linear infinite, fade-in 0.2s ease forwards;
        animation-timeline: auto, view(block 50% 10%);
        text-align: right;
        transform: translateX(-50%);
      }

      * {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .projects {
    * {
      animation: slide-up-initial 1s ease, fade-in-initial 1s ease;
    }

    background-color: white;
    color: black;
    padding: 5% 0% 8% 0%;
    display: flex;
    justify-content: center;

    .projects-inner {
      width: 60%;
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);

      
      @media (min-width: 1000px) {
        width: 80%;
      }


      @media (max-width: 780px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }

      @media (max-width: 660px) {
        gap: 60px;
      }

      .heading-wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 150px;

        @media (max-width: 780px) {
          gap: 20px;
          flex-direction: row;
          height: max-content;
        }

        @media (max-width: 580px) {
          flex-direction: column;
          align-items: center;
          line-height: 80%;
        }

        .heading {
          overflow: clip;
          height: max-content;
          line-height: 400%;

          .heading-inner {
            font-size: 350%;
            font-family: "Clash Display";
            font-weight: 500;
            transform: translate(0%, 100px);
            animation: slide-up 1ms linear both;

            @media (max-width: 300px) {
              font-size: 300%;
            }
            @media (max-width: 780px) {
              animation: none;
              transform: translate(0%, 0px);
            }
          }

          &:nth-child(1) .heading-inner {
            animation-timeline: view(block 70% 10%);
          }

          &:nth-child(2) .heading-inner {
            animation-timeline: view(block 80% 10%);
          }
        }
      }

      .description-wrapper {
        height: 150px;

        @media (max-width: 780px) {
          height: 60px;
        }

        .description {
          color: rgba(0, 0, 0, 0.5);
          overflow: clip;
          text-align: right;
          font-family: "Clash Display";

          @media (max-width: 780px) {
            text-align: center;
          }

          .description-inner {
            transform: translate(0%, 200px);
            animation: slide-up 1ms linear both;
            animation-timeline: view(block 70% 10%);

            @media (max-width: 780px) {
              animation: none;
              transform: translate(0%, 0px);
            }
          }
        }
      }

      .project-items {
        width: 100%;
        height: 350px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* opacity: 0; */
        /* animation: fade-in 1ms linear both;
        animation-timeline: view(block 95% 0); */
        padding-top: 30px;
        /* overflow: clip; */
        cursor: pointer;
        transition: transform 0.5s ease;
        position: relative;

        @media (max-width: 780px) {
          height: max-content;
        }

        .title,
        .techstack,
        .img {
          overflow: clip;
        }

        .title-inner,
        .techstack-inner {
          transform: translateY(100%);
          animation: slide-up 1ms linear both;

          @media (max-width: 780px) {
            animation: none;
            transform: translateY(0%);
          }
        }

        .title-inner {
          animation-timeline: view(block 80% 10%);
        }
        .techstack-inner {
          animation-timeline: view(block 60% 10%);
        }
        .img-inner {
          transform: translateY(30%);
          animation: slide-up 1ms linear both;
          animation-timeline: view(block 100% 10%);

          @media (max-width: 780px) {
            animation: none;
            transform: translateY(5%);
          }
        }

        .title {
          font-family: "Clash Display";
        }

        .techstack {
          font-family: "Satoshi";
          background-color: transparent;
          padding: 0px;
          font-weight: 600;

          .techstack-inner {
            display: flex;
            gap: 10px;
          }
        }

        &:nth-child(3),
        &:nth-child(6) {
          background-color: black;
          .techstack {
            color: #e91e63;
          }
        }
        &:nth-child(4),
        &:nth-child(5) {
          background-color: #e91e63;
          .techstack {
            color: black;
          }
        }

        .link {
          inset: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;

          @media (max-width: 780px) {
            display: none;
          }
        }

        .heading {
          color: white;
          width: 80%;
          margin-bottom: 20px;

          .title {
            font-size: 200%;
            width: 100%;

            @media (max-width: 900px) {
              font-size: 250%;
            }

            @media (max-width: 400px) {
              font-size: 200%;
            }

            @media (max-width: 300px) {
              font-size: 150%;
            }
          }
        }

        .view-button {
          padding: 10px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.2);
          color: white;
          width: 80%;
          margin: 30px 0px;
          font-family: "Satoshi";
          text-align: center;
          transition: color 0.5s ease, background-color 0.5s ease;
          @media (min-width: 780px) {
            display: none;
          }

          &:hover {
            background-color: white;
            color: black;
          }
        }

        .img {
          overflow: clip;
          width: 80%;
          height: 60%;

          @media (max-width: 780px) {
            height: auto;
            aspect-ratio: 1/1;
          }

          transition: transform 0.5s ease;
        }

        &:hover {
          .img {
            transform: scale(1.1);

            @media (max-width: 780px) {
              transform: none;
            }
          }
          transform: scale(0.95);
          @media (max-width: 780px) {
            transform: none;
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  to {
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes shrink {
  to {
    background-color: white;
    height: 10%;
    width: max-content;
    font-size: 300%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes change-font-size {
  to {
    font-size: 100%;
  }
}

@keyframes text-change-font-color {
  to {
    color: black;
    font-weight: bolder;
  }
}

@keyframes remove-overflow {
  to {
    overflow: visible;
  }
}

@keyframes slide-up {
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-down {
  to {
    transform: translate(0%, -60%);
  }
}

@keyframes grow {
  from {
    transform: scaleX(0.8);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes grow-full {
  from {
    transform: scaleX(0.8);
  }

  to {
    transform: scaleX(1.2);
  }
}

@keyframes overflow-auto {
  to {
    overflow: visible;
  }
}

@keyframes laser-move {
  0% {
    border-top-color: #08e199;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: #08e199;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #08e199;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #08e199;
  }
  100% {
    border-top-color: #08e199;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes overflow-visible {
  to {
    overflow: visible;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-down-far {
  to {
    transform: translate(0%, 100%);
  }
}

@keyframes slide-up-initial {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade-in-initial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
