@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

.resume {
  background-color: #1e1e1e;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 2% 0%;
  font-family: "Poppins";

  @media (max-width: 1000px) {
    height: max-content;
  }

  * {
    animation: slide-up-initial 1s ease, fade-in-initial 1s ease;
  }

  .resume-inner {
    width: 100%;
    /* width: 60%; */
    display: flex;
    justify-content: center;
    gap: 40px;
    @media (max-width: 1000px) {
      flex-direction: column;
      /* align-items: center; */
    }

    .sticky {
      display: flex;
      width: 65%;
      justify-content: flex-end;

      @media (max-width: 1000px) {
        justify-content: center;
        width: 100%;
      }

      .sticky-inner {
        width: 50%;
        position: sticky;
        top: 100px;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
        height: max-content;

        @media (max-width: 1160px) {
          width: 60%;
        }

        @media (max-width: 1000px) {
          width: 50%;
        }

        @media (max-width: 800px) {
          width: max-content;
        }

        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding: 15px 20px;

          @media (max-width: 1000px) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
          }

          @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          img {
            aspect-ratio: 1/1;
            background: linear-gradient(to right, #146288, #0773a8);
            border-radius: 10px;
            width: 60%;

            @media (max-width: 1000px) {
              width: 45%;
            }

            @media (max-width: 800px) {
              width: 80%;
            }
          }

          .details {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .name {
              font-size: 120%;
              font-weight: bold;
              text-align: center;
              margin-top: -10px;
              white-space: nowrap;
            }

            & > *:not(.name) {
              color: #353535;
              display: flex;
              flex-direction: column;
              gap: 3px;

              .title {
                font-weight: 600;
              }

              * {
                font-size: 80%;
              }
            }

            .languages {
              .content {
                display: flex;
                gap: 10px;
                flex-direction: row;
                color: #353535;

                * {
                  border: 1px solid grey;
                  border-radius: 10px;
                  padding: 1% 3%;
                }
              }
            }

            .contact {
              p {
                display: flex;
                align-items: center;
                gap: 5px;
                flex-direction: row;
              }
              svg {
                width: 10px;
                height: 10px;
              }
            }

            .socials {
              .content {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                color: #353535;

                a {
                  width: 20px;
                  height: 20px;
                  border: 1px solid grey;
                  border-radius: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }

    .scroll {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      @media (max-width: 1000px) {
        justify-content: center;
      }

      .scroll-inner {
        width: 70%;
        display: flex;
        color: white;
        flex-direction: column;
        gap: 50px;
        height: 100%;

        @media (max-width: 1000px) {
          width: 80%;
        }

        .intro {
          font-size: 300%;
          font-weight: bold;
          text-transform: uppercase;

          @media (max-width: 1000px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }

          p {
            display: flex;
            flex-direction: column;
            span {
              line-height: 100%;
            }
          }

          .first {
            color: white;
          }

          .last {
            color: rgba(255, 255, 255, 0.2);
          }

          .quote {
            text-transform: none;
            font-size: 30%;
            color: gray;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 120%;

            @media (max-width: 1000px) {
              width: 80%;
            }
          }

          .download {
            background-color: #0773a8;
            padding: 5px 10px;
            font-size: 30%;
            font-weight: 400;
            text-transform: none;
            border-radius: 50px;
          }
        }

        .skills {
          .title {
            font-size: 150%;
            text-transform: uppercase;
            font-weight: bold;
          }
          .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: rgba(255, 255, 255, 0.6);

            .category {
              display: flex;
              gap: 20px;
              font-weight: 200;

              @media (max-width: 500px) {
                flex-direction: column;
                gap: 10px;
              }

              .category-items {
                font-size: 80%;
                display: flex;
                gap: 3px;
                flex-wrap: wrap;

                span {
                  padding: 3px 10px;
                  /* border: 1px solid grey; */
                  border-radius: 50px;
                  background-color: rgb(46, 46, 46);
                }
              }
            }

            .category:nth-child(3) {
              display: flex;
              gap: 47px;

              @media (max-width: 500px) {
                gap: 10px;
              }
            }
          }
        }

        .projects {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: 150%;
            text-transform: uppercase;
            font-weight: bold;
          }
          .content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
              width: 100px;
              height: 100px;
            }

            .items {
              padding: 20px;
              transition: background-color 0.5s ease;
              border-radius: 5px;

              .items-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                @media (max-width: 1000px) {
                  justify-content: unset;
                }

                @media (max-width: 500px) {
                  flex-direction: column;
                }

                img {
                  @media (max-width: 500px) {
                    order: 2;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                  }
                }

                .details {
                  font-weight: 200;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  @media (max-width: 500px) {
                    order: 3;
                    align-self: flex-start;
                  }

                  .item-description,
                  .item-techstack {
                    font-size: 70%;
                    color: rgba(255, 255, 255, 0.7);
                  }

                  .item-techstack {
                    display: flex;
                    gap: 5px;
                    flex-wrap: wrap;

                    span {
                      font-size: 80%;
                      padding: 2px 5px;
                      border-radius: 50px;
                      background-color: rgba(255, 255, 255, 0.1);
                    }
                  }
                }

                .item-arrow-container {
                  height: 80px;

                  @media (max-width: 1000px) {
                    margin-left: auto;
                  }

                  @media (max-width: 500px) {
                    order: 1;
                    align-self: flex-end;
                    height: max-content;
                  }

                  .item-arrow {
                    color: rgb(0, 166, 255);
                    transition: transform 0.5s ease;
                  }
                }
              }
              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
                .item-arrow {
                  transform: translate(10px, -10px);
                }
              }
            }
          }
        }

        .education {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: 150%;
            text-transform: uppercase;
            font-weight: bold;
          }
          .content {
            padding: 20px;
            background-color: rgb(255, 255, 255, 0.04);
            border-radius: 5px;

            .content-inner {
              display: flex;
              gap: 20px;

              @media (max-width: 500px) {
                flex-direction: column;
              }

              .logo {
                border-radius: 50px;
                height: 40px;
                width: 40px;
                background-color: #0773a8;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .details {
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .description {
                  display: flex;
                  flex-direction: column;
                  font-size: 80%;
                  color: grey;

                  span {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    svg {
                      height: 12px;
                      width: 12px;
                    }
                  }
                }
              }
            }
          }
        }

        .certification,
        .extra-curricular {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: 150%;
            text-transform: uppercase;
            font-weight: bold;
          }

          .content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .items {
              padding: 20px;
              background-color: rgb(255, 255, 255, 0.04);
              border-radius: 5px;

              .items-inner {
                display: flex;
                gap: 20px;

                @media (max-width: 500px) {
                  flex-direction: column;
                }

                .logo {
                  border-radius: 50px;
                  height: 40px;
                  width: 40px;
                  background-color: #0773a8;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .details {
                  width: 90%;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;

                  .description {
                    display: flex;
                    flex-direction: column;
                    font-size: 80%;
                    color: grey;

                    span {
                      display: flex;
                      gap: 10px;
                      align-items: center;

                      svg {
                        height: 12px;
                        width: 12px;
                      }
                    }

                    .skills {
                      display: flex;
                      gap: 2px;
                      flex-direction: row;
                      flex-wrap: wrap;
                      margin-top: 10px;
                      * {
                        font-size: 80%;
                        padding: 3px 10px;
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 50px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide-up-initial {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade-in-initial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
